.MovieTable {
    background: crimson;
    width:100%;
}

.table-section {
    color:white;
    display: flex; 
    justify-content: space-around; 
    padding: 10px;
}

.table-section div{
    flex:1;
    text-align: center;
    padding: 5px;
}

.sort-btn {
    width:8%;
    font-size: 10px;
}